<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/css/style.css">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to Microblog</title>
  {% endif %}
</head>

<body>
  <header>
    <nav>
      <a class="active" href="/">Главная</a>
      <a href="/contact">Контакты</a>
      <a href="/about">О нас</a>
    </nav>
  </header>
  <nav>
    <ul>
      <li><a href="/cloth">Одежда</a></li>
      <li><a href="/shoes">Обувь</a></li>
      <li><a href="/jacket">Куртка</a></li>
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
</body>
<footer>
  <br>
  <hr>
  <p>© 2023</p>
</footer>

</html>